REACT_APP_FIREBASE_API_KEY=AIzaSyB99DWkiPOtVn21hitXDlOGbOMZK_3mzf8
REACT_APP_FIREBASE_AUTH_DOMAIN=chatticket.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=chatticket
REACT_APP_FIREBASE_STORAGE_BUCKET=chatticket.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=537430933759
REACT_APP_FIREBASE_APP_ID=1:537430933759:web:caf884fa81e2e9efef8cca
REACT_APP_FIREBASE_MEASUREMENT_ID=G-W6CRCJT15S
REACT_APP_API_BASE_URL=http://localhost:8000
